{% extends 'base.html' %}

{% block pagename %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Введите логин:</label>
        <input type="text" id="username" name="username" maxlength="30" required class="form-control" aria-label="Введите логин">
    </div>
    <div class="form-group">
        <label for="password">Введите пароль:</label>
        <input type="password" id="password" name="password" minlength="8" required class="form-control" aria-label="Введите пароль">
    </div>
    <div class="form-group">
        <label for="repeat_password">Повторите пароль:</label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required class="form-control" aria-label="Повторите пароль">
    </div>
    <div class="form-group">
        <label for="age">Введите свой возраст:</label>
        <input type="number" id="age" name="age" maxlength="3" required class="form-control" aria-label="Введите возраст">
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

{% if info.error %}
    <p class="text-danger">{{ info.error }}</p>
{% endif %}

{% if info.success %}
    <p class="text-success">{{ info.success }}</p>
{% endif %}

<p><a href="{% url 'choice_page' %}" class="btn btn-secondary">Вернуться к выбору действия</a></p>
{% endblock %}